<!DOCTYPE html>
<html ng-app="roi" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>ROI Calculator</title>

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" media="screen" charset="utf-8">

</head>
<body ng-controller="MainCtrl as vm">
  <div class="container">
    <h1>ROI Calculator</h1>

    <h3>Revenue Items</h3>
    <form ng-submit="vm.addRevenue()" novalidate>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>One-Time</th>
            <th>Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.revenueItems">
            {{item}}
            <th>Item {{item}}</th>
            <td><input type="number" name="single{{item}}"
              ng-model="vm.revenueSingle[$index]" value="0.00"></td>
            <td><input type="number" name="monthly{{item}}"
              ng-model="vm.revenueMonthly[$index]" value="0.00"></td>
            <td><button type="button" class="btn btn-primary-outline" ng-click="vm.addRevenueItem()">
              Add Revenue Item
            </button></td>
            <td><span class="glyphicon glyphicon-trash"
              ng-click="vm.removeRevenueItem($index)"></span></td>
          </tr>
        </tbody>
      </table>
    </form>

    <h3>Expense Items</h3>
    <form ng-submit="vm.addExpenses()" name="vm.expense" novalidate>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>One-Time</th>
            <th>Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="expense in vm.expenseItems">
            <th>Expense {{expense}}</th>
            <td><input type="number" name="single{{expense}}"
              ng-model="vm.expenseSingle[$index]" value="0.00"></td>
            <td><input type="number" name="monthly{{expense}}"
              ng-model="vm.expenseMonthly[$index]" value="0.00"></td>
            <td><button type="button" class="btn btn-primary-outline" ng-click="vm.addExpenseItem()">
              Add Expense Item
            </button></td>
            <td><span class="glyphicon glyphicon-trash"
              ng-click="vm.removeExpenseItem($index)"></span></td>
          </tr>
        </tbody>
      </table>
    </form>

    <h3>Totals</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>One-Time</th>
          <th>Monthly</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Revenue</th>
          <td>{{vm.revenueSingle}}</td>
          <td>{{vm.revenueMonthly}}</td>
          <td>{{vm.revenueTotal}}</td>
        </tr>
        <tr>
          <th>Expenses</th>
          <td>{{vm.expenseSingle}}</td>
          <td>{{vm.expenseMonthly}}</td>
          <td>{{vm.expenseTotal}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td></td>
          <th>Contribution Profits</th>
          <td>{{vm.profitsMonthly}}</td>
          <td>{{vm.profitsTotal}}</td>
        </tr>
        <tr>
          <td></td>
          <th>Contribution Margin</th>
          <td></td>
          <td>{{vm.margin}}</td>
        </tr>
        <tr>
          <td></td>
          <th>Capital ROI (Months)</th>
          <td></td>
          <td>{{vm.roi}}</td>
        </tr>
    </tbody>
    </table>
  </div>
</body>
</html>
