<!DOCTYPE html>
<html ng-app="roi" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>ROI Calculator</title>

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" media="screen" charset="utf-8">

</head>
<body ng-controller="MainCtrl as vm">
  <div class="container">
    <h1>ROI Calculator</h1>

    <h3>Revenue Items</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>One-Time</th>
            <th>Monthly</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.revenueItems">
            <th>Item {{$index + 1}}</th>
            <td>{{item.single | currency}}</td>
            <td>{{item.monthly | currency}}</td>
            <td><span class="glyphicon glyphicon-trash"
              ng-click="vm.removeRevenueItem($index)"></span></td>
          </tr>
          <tr>
            <form name="newRevenue" ng-submit="vm.add(newRevenue)">
              <th>New Revenue Item</th>
              <td><input type="number" name="newRevenue.single"
                ng-model="newRevenue.single"></td>
              <td><input type="number" name="newRevenue.monthly"
                ng-model="newRevenue.monthly"></td>
              <td><input type="submit" class="btn btn-primary-outline" value="Add Revenue Item"></td>
            </form>
          </tr>
        </tbody>
      </table>

    <h3>Expense Items</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>One-Time</th>
            <th>Monthly</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="expense in vm.expenseItems">
            <th>Expense {{$index + 1}}</th>
            <td>{{expense.single | currency}}</td>
            <td>{{expense.monthly | currency}}</td>
            <td><span class="glyphicon glyphicon-trash"
              ng-click="vm.removeExpenseItem($index)"></span></td>
          </tr>
          <tr>
            <form name="newExpense" ng-submit="vm.add(newExpense)">
              <th>New Expense Item</th>
              <td><input type="number" name="newExpense.single"
                ng-model="newExpense.single"></td>
              <td><input type="number" name="newExpense.monthly"
                ng-model="newExpense.monthly"></td>
              <td><input type="submit" class="btn btn-primary-outline" value="Add Expense Item"></td>
            </form>
          </tr>
        </tbody>
      </table>

    <h3>Totals</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>One-Time</th>
          <th>Monthly</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Revenue</th>
          <td>{{vm.revenueSingle | currency}}</td>
          <td>{{vm.revenueMonthly | currency}}</td>
          <td>{{vm.revenueTotal | currency}}</td>
        </tr>
        <tr>
          <th>Expenses</th>
          <td>{{vm.expenseSingle | currency}}</td>
          <td>{{vm.expenseMonthly | currency}}</td>
          <td>{{vm.expenseTotal | currency}}</td>
        </tr>
        <tr>
          <th>Contribution Profits</th>
          <td></td>
          <td>{{vm.profitsMonthly | currency}}</td>
          <td>{{vm.profitsTotal | currency}}</td>
        </tr>
        <tr id="break-row"></tr>
        <tr>
          <td></td>
          <td></td>
          <th>Contribution Margin</th>
          <td>{{vm.margin | number:2}}%</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <th>Capital ROI (Months)</th>
          <td>{{vm.roi | number:1}}</td>
        </tr>
    </tbody>
    </table>
  </div>
</body>
</html>
