<!DOCTYPE html>
<html ng-app="roi" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>ROI Calculator</title>

  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="app.js" charset="utf-8"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Kanit:900,800,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css" media="screen" charset="utf-8">

</head>
<body ng-controller="MainCtrl as vm">
  <div class="header">
    <h1>ROI Calculator</h1>
  </div>
  <div class="container">
    <h3>Revenue Items</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th class="align-right">One-Time</th>
            <th class="align-right">Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.revenueItems">
            <th>Item {{$index + 1}}</th>
            <td class="align-right">{{item.single | currency}}</td>
            <td class="align-right">{{item.monthly | currency}}</td>
            <td class="align-center"><span class="glyphicon glyphicon-trash"
              ng-click="vm.remove(newRevenue, $index)"></span></td>
          </tr>
          <tr>
            <form name="newRevenue" ng-submit="vm.add(newRevenue)" novalidate>
              <th>New Revenue Item</th>
              <td class="align-right"><input type="number" name="newRevenue.single"
                ng-model="newRevenue.single"></td>
              <td class="align-right"><input type="number" name="newRevenue.monthly"
                ng-model="newRevenue.monthly"></td>
              <td class="align-center"><input type="submit" class="btn btn-primary-outline" value="Add Revenue Item"></td>
            </form>
          </tr>
        </tbody>
      </table>

    <h3>Expense Items</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th class="align-right">One-Time</th>
            <th class="align-right">Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="expense in vm.expenseItems">
            <th>Expense {{$index + 1}}</th>
            <td class="align-right">{{expense.single | currency}}</td>
            <td class="align-right">{{expense.monthly | currency}}</td>
            <td class="align-center"><span class="glyphicon glyphicon-trash"
              ng-click="vm.remove(newExpense, $index)"></span></td>
          </tr>
          <tr>
            <form name="newExpense" ng-submit="vm.add(newExpense)" novalidate>
              <th>New Expense Item</th>
              <td class="align-right"><input type="number" name="newExpense.single"
                ng-model="newExpense.single"></td>
              <td class="align-right"><input type="number" name="newExpense.monthly"
                ng-model="newExpense.monthly"></td>
              <td class="align-center"><input type="submit" class="btn btn-primary-outline" value="Add Expense Item"></td>
            </form>
          </tr>
        </tbody>
      </table>

    <h3>Totals</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th class="align-right">One-Time</th>
          <th class="align-right">Monthly</th>
          <th class="align-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Revenue</th>
          <td class="align-right">{{vm.revenueSingle | currency}}</td>
          <td class="align-right">{{vm.revenueMonthly | currency}}</td>
          <td class="align-right">{{vm.revenueTotal | currency}}</td>
        </tr>
        <tr>
          <th>Expenses</th>
          <td class="align-right">{{vm.expenseSingle | currency}}</td>
          <td class="align-right">{{vm.expenseMonthly | currency}}</td>
          <td class="align-right">{{vm.expenseTotal | currency}}</td>
        </tr>
        <tr id="break-row"></tr>
        <tr>
          <td></td>
          <th class="align-right">Contribution Profits</th>
          <td class="align-right">{{vm.profitsMonthly | currency}}</td>
          <td class="align-right">{{vm.profitsTotal | currency}}</td>
        </tr>
        <tr>
          <td></td>
          <th class="align-right">Contribution Margin</th>
          <td></td>
          <td class="align-right">{{vm.margin | number:2}}%</td>
        </tr>
        <tr>
          <td></td>
          <th class="align-right">Capital ROI (Months)</th>
          <td></td>
          <td class="align-right">{{vm.roi | number:1}}</td>
        </tr>
    </tbody>
    </table>
  </div>
</body>
</html>
