.table-footer {
  display: flex;
  flex-flow: column nowrap;
}

.list-button-wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.list-button-wrapper p:hover, .list-button-wrapper span:hover {
  cursor: pointer;
}

.list-button-wrapper span {
  margin-right: 5px;
}
