.table-footer {
  display: flex;
  flex-flow: column nowrap;
}

.manipulate-list{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.manipulate-list p:hover, .manipulate-list span:hover {
  cursor: pointer;
}

.manipulate-list span {
  margin-right: 5px;
}
